<?xml version="1.0" encoding="UTF-8"?>
<suite name="MoviesDatabaseAPITestsSuite">
<test name ="MoviesDatabaseAPITests">

<classes>
<class name = "com.movieDatabaseSplunk.movieDatabaseAPI.SumMovieGenreTest" />
<class name = "com.movieDatabaseSplunk.movieDatabaseAPI.PalindromeMovieTitleTest" />
<class name = "com.movieDatabaseSplunk.movieDatabaseAPI.MovieTitleMatchTest" />
<class name = "com.movieDatabaseSplunk.movieDatabaseAPI.DuplicateMovieImagesTest" />
<class name = "com.movieDatabaseSplunk.movieDatabaseAPI.PosterPathLinkTest" />
<class name = "com.movieDatabaseSplunk.movieDatabaseAPI.MovieGenreRulesTest" />
<class name = "com.movieDatabaseSplunk.movieDatabaseAPI.AddMovieTest" />
<class name = "com.movieDatabaseSplunk.movieDatabaseAPI.MovieTypeOtherThanBatmanTest" />
<class name = "com.movieDatabaseSplunk.movieDatabaseAPI.checkNoOfRecordsByCountTest" />
<class name = "com.movieDatabaseSplunk.movieDatabaseAPI.verifySuccessMessageForAddMovieTest" />
</classes>

</test>


</suite>