<?xml version="1.0" encoding="UTF-8"?>
<suite name="MoviesDatabaseAPITestsSuite">
<test name ="MoviesDatabaseAPITests">

<classes>
<class name = "com.movieDatabaseSplunk.movieDatabaseAPI.SumMovieGenreTest" />
<class name = "com.movieDatabaseSplunk.movieDatabaseAPI.PalindromeMovieTitleTest" />
<class name = "com.movieDatabaseSplunk.movieDatabaseAPI.MovieTitleMatchTest" />
</classes>

</test>


</suite>